.jumbotron {
  padding-top: 6rem;
  background-color: var(--bs-primary-bg-subtle);
}

#gallery {
  background-color: var(--bs-primary-bg-subtle);
}

section {
  padding-top: 5rem;
}

/* product coffe section */
.coffe-box {
  height: 500px;
  position: relative;
  transform-style: preserve-3d;
}

.coffe-box::before {
  content: "~MY";
  position: absolute;
  color: #fff;
  font-size: 5em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  opacity: 0;
  transform: translate(-50%, 0);
  left: 50%;
  transition: 0.6s;
}

.coffe-box:hover::before {
  opacity: 0.4;
}

.coffe-box::after {
  content: "COFFE~";
  position: absolute;
  color: #fff;
  font-size: 4.1em;
  font-weight: bold;
  font-style: italic;
  top: 355px;
  transform: translate(-50%, 0);
  left: 50%;
  opacity: 0;

  transition: 0.6s;
}

.coffe-box:hover::after {
  opacity: 0.5;
}

.coffe-name {
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 0;
  transition: 0.5s;
  font-size: 2em;
  transform: translate3d(0, 0, 50px) rotate(10deg);
}

.coffe-box:hover .coffe-name {
  top: 17.5px;
  opacity: 1;
  transform: translate3d(0, 0, 50px);
}

.coffe-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 90px);
  max-width: 295px;
  transition: 0.5s;
}

.coffe-box:hover .coffe-img {
  transform: translate3d(-50%, -50%, 100px) rotate(7deg) scale(1.2);
}

.coffe-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 110px) rotate(10deg);
  transition: 0.5s;
  opacity: 0;
}

.coffe-box:hover .coffe-button {
  opacity: 1;
  bottom: 42px;
  transform: translate3d(-50%, 0, 110px);
}
